<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>add User</title>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
        a {
            color: darkgreen;
        }
        .mg {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div>
    <a href="/admin">go Back</a>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}" style="color: red"></p>
    </div>

    <form class="mg" th:action="@{|/admin/${action}|}" th:object="${user}" method="post">

        <input type="hidden" th:field="*{id}" />

        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" required minlength="2" th:field="*{firstName}" />
        <br/>
        <br/>
        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" required minlength="2" th:field="*{lastName}" />
        <br/>
        <br/>
        <label for="email">Email:</label>
        <input type="email" id="email" required th:field="*{email}" />
        <br/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <br/>
        <br/>
        <label>Roles:</label>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:text="${role.name}" />
            <br/>
        </div>
        <br/>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
