<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h2>User, welcome spring boot security page!</h2>
<div>
    <div class="mg"  th:object="${user}" >
        <div>
            <p>Fist Name: <span th:text="*{firstName}"></span>  </p>
        </div>
        <div>
            <p>Last Name: <span th:text="*{lastName}"></span></p>
        </div>
        <div>
            <p>Email: <span th:text="*{email}"></span></p>
        </div>
     </div>

    <div>
        <a th:href="@{/logout}">Logout</a>
    </div>

</div>

</body>
</html>